

        body{
            align-content: center;
            background-color: lightgray;

        }
        .body{
        
        width: 800px;
        padding: 20px;
         
        }

        .message{
            height: 50px;
            width: 200px;
            margin-left:300px;
            opacity: 0%;
            
        }

        .Reset,.Submit,.ShowSummary{
        background-color: darkgray;
        color: black;
        }
        .ShowSummary{
            visibility: hidden;
        }

